.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right, #13532f, #25c368);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 40px;
    height: auto;
}
.navbar-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.navbar-link:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transform: scale(1.05);
}

.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1E8449;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-link {
        padding: 10px;
        text-align: center;
        width: 100%;
        display: block;
    }
}
